In [1]:
# ! pip3 install -U scikit-learn

In [2]:
from sklearn.impute import KNNImputer

In [3]:
import numpy as np
import pandas as pd
dict = {'First':[100, 90, np.nan, 95], 
        'Second': [30, 45, 56, np.nan], 
        'Third':[np.nan, 40, 80, 98]} 
  
# creating a dataframe from list 
df = pd.DataFrame(dict)

In [4]:
df

   First  Second  Third
0  100.0    30.0    NaN
1   90.0    45.0   40.0
2    NaN    56.0   80.0
3   95.0     NaN   98.0

In [5]:
imputer = KNNImputer(n_neighbors=2)

In [6]:
df_filled = imputer.fit_transform(df)

In [7]:
df_filled

array([[100. ,  30. ,  69. ],
       [ 90. ,  45. ,  40. ],
       [ 97.5,  56. ,  80. ],
       [ 95. ,  43. ,  98. ]])